.testimonials-grid {
    display: flex;
    max-width: 375px;
    max-height: 1966px;
    padding: 71px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ECF2F8;
    gap: 32px;
}

.t-id {
    display: flex;
    align-items: center;
    gap: 15px
}

.t-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 28px;
    border: 1px solid black;
    background: url("/images/image-daniel.jpg");
}

.t-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t-name, .occupation {
    margin: 2px
}

.t1 {
    width: 327px;
    max-height: 444px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #733FC8;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    justify-items: auto;
    padding: 32px;
}

.t2 {
    width: 327px;
    max-height: 444px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #48556A;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    justify-items: auto;
    padding: 32px;
}

.t-name {
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 100% */
}

.occupation {
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; /* 100% */
    opacity: 0.5;;
    margin-left: 4px;
}

h3 {
    width: 100%;
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: justify;
    margin: 20px 0 0 3px;
}

h4 {
    width: 100%;
    color: #CFCFCF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    text-align: justify;
    margin: 5 px auto 5px auto;
}